button {
  padding: calc(var(--spacing) + 1vw) calc(var(--spacing-gg) + 1vw);
  border-radius: var(--border-radius);
  color: var(--background);
  background-color: var(--text);
  transition: all ease var(--transition);
  cursor: pointer;
}

button:hover {
  transform: translate(0, -calc(var(--spacing)/2));
  color: var(--text);
  background-color: var(--accent);
  box-shadow: var(--box-shadow-x-heavy) var(--accent);
}

button:active,  button:focus{
  outline: 1px solid var(--accent);
  border: 1px solid var(--accent);
}
