button {
  padding: calc(1rem + 1vw) calc(2rem + 1vw);
  border-radius: 0.5rem;
  color: var(--background);
  background-color: var(--text);
  transition: all ease 250ms;
  cursor: pointer;
}

button:hover {
  transform: translate(0, -0.125rem);
  color: var(--text);
  background-color: var(--accent);
  box-shadow: 0 1.25rem 5rem -0.625rem var(--accent);
}

button:active,  button:focus{
  outline: 1px solid var(--accent);
  border: 1px solid var(--accent);
}
