footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: var(--spacing);
  padding: var(--spacing) var(--spacing-gg);
  background-color: var(--text);
  color: var(--background);
}

footer header h5 {
  text-align: center;
  text-wrap: balance;
}

footer form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--spacing-pp);
}

footer form input {
  border: none;
  flex: 1 1 10ch;
  /* margin: .5rem; */
  background: var(--background);
  border-radius: var(--spacing-pp);
  padding: 0.75rem var(--spacing);
}

footer form input::placeholder {
  color: var(--secondary);
}

footer form button.cta-final {
  /* width: 100%; */
  background: var(--accent);
  color: var(--text);
  padding: 0.75rem var(--spacing);
  transition: all var(--transition);
}

footer form button.cta-final:hover {
  box-shadow: var(--box-shadow-x-light) var(--secondary);
}

footer ol li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--spacing-pp);
    margin-bottom: var(--spacing);
}

footer ol li i {
    background-image: var(--image-url);
    transform: scale(0.8);
}

footer .floatWhatsapp{
    background-color: transparent;
    border: none;
    cursor: auto;
    position: fixed;
    padding: 0;
    bottom: var(--spacing-gg);
    right: var(--spacing-gg);
    border-radius: var(--border-radius-round);
}

footer .floatWhatsapp:hover, .floatWhatsapp:active, .floatWhatsapp:focus{
    box-shadow: none;
    transform: none;
    color: transparent;
    border: none;
    background-color: transparent;
    outline: none;
}

footer .floatWhatsapp i {
    position: relative;
    filter: drop-shadow(3px 3px 6px var(--secondary));
    transform: scale(1.5);
    cursor: pointer;
    animation: bouncy 2s infinite linear;
}

footer .floatWhatsapp i::after{
    content: '1';
    text-align: center;
    position: relative;
    display: block;
    width: 2ch;
    height: 2ch;
    background-color: red;
    color: white;
    font-size: 10px;
    border-radius: var(--border-radius-round);
    left: 22px;
    bottom: 0px;
}

@media (max-width: 768px) {
  footer form button.cta-final {
  width: 100%;
  }
}
