body {
  min-height: 100vh;
  max-width: 1000px;
  padding-inline: 0.5%;
  margin: 0px auto;
  margin-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2rem 6rem;
  background-color: var(--background);
  text-rendering: optimizeLegibility;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .pages {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: calc(100vh - 12rem);
} */

/* @media (prefers-color-scheme: dark) {
  .pages section {
    box-shadow: 0.5rem 0.5rem 1rem var(--border);
  }

  .pages footer button:hover {
    box-shadow: 0 2rem 6rem -0.5rem var(--border);
  }
} */
